<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>SmartForm Validator</title>
</head>
<body>
    <h1>SmartForm Validator</h1>

    <form id="smartform">
        <label for="name">Name:</label>
        <input type="text" id="name"><br><br>

        <label for="email">E-Mail:</label>
        <input type="email" id="email"><br><br>

        <button type="submit">Validieren</button>
    </form>

    <div id="ergebnisse"></div>

    <script src="/static/script.js"></script>
</body>
</html>
